.container {
    border: 2px solid black;
    height: 300px;
    width: 80%;
    margin: 10px auto;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}

h1 {
    text-align: center;
}

div {
    height: 70px;
    width: 70px;
    color: white;
    text-align: center;
   
}