body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.boxes{
    display: flex;
    justify-content: center;
}

.box{
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 20px;
    border: 5px solid black;
}
.blue{
    background-color:  #0b34eaad;
}
.pink{
    background-color:  #db0fb2ad;
}
.green{
    background-color:  #0fdb2aad;
}
.yellow{
    background-color:  #eadf0bad;
}
.flash{
    background-color:  black;
}
.userflash{
    background-color:  white;
}